@{
    @model ItsGitHub.Models.Assignment
    ViewBag.Title = "Create assignment";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
    </p>

    <p>
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content)
    </p>

    <p>
        <label>&nbsp</label>
        <input type="submit" value="Create" />
    </p>
}