@{
    @model ItsGitHub.Models.Assignment
    ViewBag.Title = "Assignment - " + @Model.title;
}



<div class="container">
        <div class="assignment">
            <h1>@Model.title</h1>
            @Html.Markdown(Model.content)
        </div>
</div>