@{
    @model ItsGitHub.Models.AssignmentViewModel
    ViewBag.Title = "Assignment - " + @Model.Assignment.title;
}



<div class="container">
    <div class="assignment">
        <h1>@Model.Assignment.title</h1>
        @Html.Markdown(Model.Assignment.title)
    </div>
    <p><a href="@Url.Action("Add","Comment")">Add new comment</a></p>
</div>