{
    @model ItsGitHub.Models.Comment
    ViewBag.Title = "Add comment";
}

<h2>Add</h2>


@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.Content)
        @Html.TextBoxFor(m => m.Content)
    </p>

    <p>
        <label>&nbsp</label>
        <input type="submit" value="Add" />
    </p>
}